# Python
.venv/
*/.venv/
venv/
*/venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Build and tooling
build/
dist/
*.egg-info/

# Env files
.env
.env.*

# Logs
*.log

# OS/editor
.DS_Store
.vscode/*
!.vscode/settings.json
